express
socket.io
dotenv
cookie-parser
cors
mongoose
mongoose-paginate-v2
mongoose-aggregate-paginate-v2
bcrypt
jsonwebtoken




tailwindcss @tailwindcss/vite
framer-motion
react-responsive
react-router-dom
axios
react-icons